html {
  box-sizing:
    box-sizing: border-box;
    font-family: sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

img {
  width: 2rem;
  background-color: red;
}

body {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

h1 {
  background-color: grey;
}

ul li {
  display: flex;
}
